<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<a href="#"routerLink="/term_and_policy"> Terms Policy</a> &nbsp;|&nbsp;
				<a href="#"routerLink="/privacy_policy"> Privacy Policy</a>
			</div>
			<div class="col-sm-5 text-right">
				Copyright &copy; Furry Tails 2017. Developed by <a href="http://ideafoundation.co.in/">IDEAFoundation</a>
			</div>
		</div>
	</div>
</footer>