<section class="intro bg-light-gray">
	<div class="container">
		<div class="header-top-page">
			<div class="breadcrumbs">
			  <ul class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>Find Job Seekers</li>
			  </ul>
			</div>
			<h1 class="page-heading">Find Job Seekers</h1>
		</div>
	</div>
</section>

<section class="intro">
<div class="container">

	
	<mat-list class="home-job-listing">
	  <mat-list-item *ngFor="let jobseeker of findJobSeekers">
		<div class="job-listing">
			<div class="row">
				<div class="col-sm-12 col-md-5">
					<div class="row">
						<div class="col-xs-3">
							<div class="avatar-img">
								<img matListAvatar src="{{jobseeker.profile_picture}}" class="img-responsive">
							</div>
						</div>
						<div class="col-xs-9">
							<h4 class="job-title">
								<a href="">{{jobseeker.first_name}} {{jobseeker.last_name}}</a>
							</h4>
							<p class="job-desc">{{jobseeker.about}}</p>
						</div>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0 cat-item">
					<i class="fa fa-map-marker"></i> {{jobseeker.address}} 
				</div>
				<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3" >
					<div class="price">
						<div class="price-container">
						  <h4><span class="currency">Kr</span> {{jobseeker.price}}</h4>
						  <span class="period">/ hr</span>
						</div>
					 </div>
				</div>
				<div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
					<div class="jobseekers-btns">
						<a href="" class="btn hire-btn"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;Hire</a>
						<a href="" class="btn chat-btn"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;Chat</a>
						<a href="" class="btn block-btn"><i class="fa fa-eye-slash" aria-hidden="true"></i>&nbsp;Block</a>
					</div>
				</div>
			</div>
		</div>
		
	  </mat-list-item>
	  
	  
	</mat-list>
</div>
</section>
