<section class="intro bg-light-gray">
	<div class="container">
		<div class="header-top-page">
			<div class="breadcrumbs">
			  <ul class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>Find Job Seeksers</li>
			  </ul>
			</div>
			<h1 class="page-heading">Jobs near by you</h1>
		</div>
	</div>
</section>

<section class="intro">
<div class="container">
  <!--<div class="title-page"><h2></h2></div>
     <h3>{{currentUser.data.first_name}} {{currentUser.data.last_name}}!</h3>
    <h3>All Jobs :</h3> -->
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
	
	<mat-list class="home-job-listing">
	  <mat-list-item >
		<p>Ok</p>
	  </mat-list-item>
	  
	  
	</mat-list>
</div>
</section>
