/* :host {
  background: #1a2580;
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
 
ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;
} */

/*-- nav --*/
.navbar-default {
    background: #1ba5ca;
    border: 0px none;
    margin-bottom: 0;
	border-radius:0px;
	box-shadow: 0px 0px 5px #000;overflow: inherit;padding: 10px;
}
.navbar-default a, .navbar-default{color:#fff;}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: -5%;
    text-align: center;
    margin: auto;
    background:none;   
	overflow: inherit;
	border:0px none;
	height:50px;
	box-shadow: none !important;
}

.navbar-toggle {
    z-index:3;
}
.navbar-brand a{position:relative;background:#1ba5ca;}
.navbar-brand a:after{
   content:"";
   position: absolute;
   top:95%;
   left:0px;
   right:0px;
   height:60px;
   background:#1ba5ca;
   border-radius: 0px 0px 400px 400px;
   z-index:1;
   box-shadow: 0px 2px 5px #949494;
}
.navbar-brand a img{position: relative;z-index: 2;}
.navbar-default ul li a.btn-default{background: #f47107;}