<!-- <div class="side-bar">
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	  <button 
	  		class="navbar-toggler navbar-toggler-right" 
	  		type="button" 
	  		data-toggle="collapse" 
	  		data-target="#navbar-main" 
	  		aria-controls="navbar-main"
	  		aria-expanded="false"
	  		aria-label="Toggle navigation">
	  		<span class="navbar-toggler-icon"></span>
	  </button>
	  
	  <a class="navbar-brand" routerLink="/"><img src="assets/images/furry-logo.png" /></a>
	  <div class="collapse navbar-collapse" id="navbar-main" ng-controller="mainController">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" routerLink="/home">Home </a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="/about"> About</a>
		  </li>
		  
		  
		  <li class="nav-item" >
			<a class="nav-link" routerLink="/login" ng-show="!isUserLoggedIn">Login</a>
		  </li>
		  <li class="nav-item" >
			<a class="nav-link" routerLink="/logout" ng-show="isUserLoggedIn">Logout </a>
		  </li
		  <li class="nav-item"  routerLinkActive="active" (click)="loginOrOut()"><a class="nav-link" >{{ loginLogoutText }}</a></li>
		</ul>
	  </div>
	</nav>
</div> -->

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <div class="navbar-brand"><a class="" href="#"><img src="assets/images/furry-logo1.png" /></a></div>    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#" routerLink="/home"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="#" routerLink="/findjobseekers">Find Jobseekers</a></li>
				<li><a href="#" routerLink="/jobs"> Jobs</a></li>
		<!-- after login -->
		<li *ngIf="authenticationService.isLoggedIn()"><a href="#" routerLink="/createjob">Create job</a></li>
      </ul>
	  
	  <ul class="nav navbar-nav navbar-right">
		  <li><a href="#"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a></li>
		  <li *ngIf="!authenticationService.isLoggedIn()"><a href="#" class="btn btn-default" (click)="loginOrOut()" routerLink="/login" >{{loginLogoutText}}</a></li>
		  <li class="dropdown" *ngIf="authenticationService.isLoggedIn()" dropdown >
				  <a class="dropdown-toggle" dropdownToggle>My Account <b class="caret"></b></a>
				  <ul *dropdownMenu class="dropdown-menu navbar-default">
					
						<li><a href="#" routerLink="/profile">Profile</a></li>
						<li><a href="#" routerLink="/mychat"> My Chat</a></li>
						<li><a href="#"routerLink="/term_and_policy"> Terms Policy</a></li>
							<li><a href="#"routerLink="/privacy_policy"> Privacy Policy</a></li>
					<li class="divider"></li>
					<li><a href="#" (click)="loginOrOut()" >Sign out</a></li>
				  </ul>
		 </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
