<section class="intro bg-light-gray">
	<div class="container">
		<div class="header-top-page">
			<div class="breadcrumbs">
			  <ul class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>Edit your profile here</li>
			  </ul>
			</div>
			<h1 class="page-heading">Jobs near by you</h1>
		</div>
	</div>
</section>

<section class="intro" style="padding-top:0px;">
		<div class="container">
			<div class="demo-tab-content">
		
				<div class="title-sub-page"><h2>Profile</h2></div>
				<form role="form" name="form" (ngSubmit)="updateprofile()" #f="ngForm" novalidate> 
				<div class="account-container">
					<div  class="user-img-container">
						<div  class="user-avatar">
							<img  class="img-responsive" src="{{userDetails.profile_picture}}">
						</div>
						<input type="file" accept="image/*" name="img"  (change)="changeListener($event)">
					</div>
						<div  class="row">
							<div  class="col-sm-6">
								<div  class="form-group">
									<label >First Name <em >*</em></label>
									<input  class="form-control" name="first_name" [(ngModel)]="model.first_name" #first_name="ngModel" type="text">
								</div>
							</div>
							<div  class="col-sm-6">
								<div  class="form-group">
									<label >Last Name <em >*</em></label>
									<input  class="form-control" name="last_name" [(ngModel)]="model.last_name" #last_name="ngModel" type="text">
								</div>
							</div>
						</div>
						<div  class="row">
							<div  class="col-sm-6">
								<div  class="form-group">
									<label >Email </label>
									<input  class="form-control" disabled name="email" value="{{userDetails.email}}" [(ngModel)]="model.email" #email="ngModel" type="text">
								</div>
								
							</div>
							<div  class="col-sm-6">
								<div  class="form-group">
									<label >Contact </label>
									<input  class="form-control"  name="phone" [(ngModel)]="model.phone" #phone="ngModel" type="text">
								</div>
							</div>
						</div>
						
						<div  class="row">
							<div  class="col-sm-6">
								<div  class="form-group">
									<label >Gender <em >*</em></label>
									<select  class="form-control" name="gender" [(ngModel)]="model.gender" #gender="ngModel">
										<option >Male</option>
										<option >Female</option>
										<option >Other</option>
									</select>
								</div>
							</div>
							<div  class="col-sm-6">
								<div  class="form-group">
									<label >Age</label>
									<input  class="form-control" name="age" [(ngModel)]="model.age" #age="ngModel" type="text">
								</div>
							</div>
						</div>
						<div  class="row">
							<div  class="col-sm-12">
								<div  class="form-group">
									<label >Address </label>
									<textarea  class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel"></textarea>
								</div>
							</div>
						</div>
						<div  class="row">
							<div  class="col-sm-12">
								<div  class="form-group">
									<label >About </label>
									<textarea  class="form-control" name="about" [(ngModel)]="model.about" #about="ngModel"></textarea>
								</div>
							</div>
						</div>
						<div  class="row">
							<div  class="col-sm-3">
								<div  class="form-group">
									<label >Price <em >*</em> </label>
									<input  class="form-control" name="price" [(ngModel)]="model.price" #price="ngModel" type="text">
								</div>
							</div>
						</div>
						<div class="row">
								<div class="col-sm-12">
										<label >Profile Role </label>
										<label  class="radio-inline">
												<input type="radio" value="0" name="user_job_role" [(ngModel)]="model.user_job_role" #user_job_role="ngModel" /> Jobseeker
											</label>
										<label  class="radio-inline">
											<input type="radio" value="1" name="user_job_role" [(ngModel)]="model.user_job_role" #user_job_role="ngModel" /> Job Owner
										</label>
										<label  class="radio-inline">
											<input type="radio" value="2" name="user_job_role" [(ngModel)]="model.user_job_role" #user_job_role="ngModel" /> Both
										</label> 
									</div>
						</div>
						<div  class="row">
							<div  class="col-sm-12">
								<div  class="form-group">
									<label  style="display:inline-block;margin-right:20px;width:auto;">Profile Status<em >*</em> </label>
									<label  class="radio-inline">
										<input  name="profile_status" value="0" [(ngModel)]="model.profile_status" #profile_status="ngModel" type="radio"> Public
									</label>
									<label  class="radio-inline">
										<input  name="profile_status" value="1" [(ngModel)]="model.profile_status" #profile_status="ngModel" type="radio"> Private
									</label>
								</div>
							</div>
						</div>	
						<div class="button-container"> 
								<button type="submit" class="btn btn-default login" [disabled]="loading">
									UpDate
								</button> 
								
								<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
						</div> 
				
					<!-- /form -->
				</div>
				</form>
			</div>

</div>
</section>
<div *ngIf="load_spiner" class="mycustom_spinner">
	<div class="spinner">
			<div class="cube1"></div>
			<div class="cube2"></div>
	</div>
</div>

