<section class="intro bg-light-gray">
	<div class="container">
		<div class="header-top-page">
			<div class="breadcrumbs">
			  <ul class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>My Chats</li>
			  </ul>
			</div>
			<h1 class="page-heading">My Chats</h1>
		</div>
	</div>
</section>
<!-- <script src="https://use.fontawesome.com/45e03a14ce.js"></script> -->
<section class="intro">
	<div class="container" style="display:block;">
		<div class="main_section">
			  <div class="chat_container">
				 <div class="col-sm-4 chat_sidebar">
				 <div class="row">
					<div id="custom-search-input">
					   <div class="input-group col-md-12">
						  <input type="text" class="  search-query form-control" placeholder="Conversation" />
						  <button class="btn btn-danger" type="button">
						  <span class=" glyphicon glyphicon-search"></span>
						  </button>
					   </div>
					</div>
					<div class="member_list">
					   <ul class="list-unstyled">
						  <li class="left clearfix" *ngFor="let message of messages" (click)="getMessageDetails(message)">
							 <span class="chat-img pull-left">
							 <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
							 </span>
							 <div class="chat-body clearfix">
								<div class="header_sec">
								   <div><h4>{{ message.job_title }}</h4><strong class="primary-font">{{ message.first_name }} {{ message.last_name }}</strong></div><strong class="pull-right">
								   09:45AM</strong>
								</div>
								<div class="contact_sec">
								   <strong class="primary-font">{{ message.message }}</strong> <span class="badge pull-right">3</span>
								</div>
							 </div>
						  </li>
					   </ul>
					</div>
					</div>
				 </div>
				 <!--chat_sidebar-->
				 
				 
				 <div class="col-sm-8 message_section">
					 <div class="row">
						 <div class="new_message_head">
							<div class="pull-left">
								<h5>Kabul Rana</h5>
							</div>
						 </div><!--new_message_head-->
					 
						 <div class="chat_area">
							<ul class="list-unstyled">
								
								<li class="left clearfix" *ngFor="let chatmessage of chatmessages">
									 <span class="chat-img1 {{chatmessage.class}}">
									 <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
									 </span>
									 <div class="chat-body1 clearfix">
										<div class="chat_time pull-right">kabul rana 06/10/2017 02:56 pm</div>
										<div class="message-box">
											<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
										</div>
										
									 </div>
								  </li>
								  
								 
							 </ul>
						 </div><!--chat_area-->
						  <div class="message_write">
							<textarea class="form-control" placeholder="type a message"></textarea>
							<div class="clearfix"></div>
							<div class="chat_bottom">
								<a href="#" class="pull-right btn btn-success">	Send</a>
							</div>
						 </div>
					 </div>
				</div> <!--message_section-->
			
		   </div>
		</div>
	</div>
</section>
