<section class="intro bg-light-gray">
	<div class="container">
		<div class="header-top-page">
			<div class="breadcrumbs">
			  <ul class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>Find Job Seeksers</li>
			  </ul>
			</div>
			<h1 class="page-heading">Jobs near by you</h1>
		</div>
	</div>
</section>

<section class="intro">
<div class="container">
  <!--<div class="title-page"><h2></h2></div>
     <h3>{{currentUser.data.first_name}} {{currentUser.data.last_name}}!</h3>
    <h3>All Jobs :</h3> -->
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
	
	<mat-list class="home-job-listing">
	  <mat-list-item >
		<div class="job-listing">
			<div class="row">
				<div class="col-sm-12 col-md-5">
					<div class="row">
						<div class="col-xs-3">
							<div class="avatar-img">
								<img matListAvatar src="https://hdwallpapersbuzz.com/wp-content/uploads/2017/04/awesome-dp-for-whatsapp-in-hd-1.jpg" class="img-responsive">
							</div>
						</div>
						<div class="col-xs-9">
							<h4 class="job-title">
								<a href="">Heather hennessy</a>
							</h4>
							<p class="job-desc">About me here...</p>
						</div>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0 cat-item">
					<i class="fa fa-map-marker"></i> Location 
				</div>
				<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3" >
					<div class="price">
						<div class="price-container">
						  <h4><span class="currency">Kr</span> 457</h4>
						  <span class="period">/ hr</span>
						</div>
					 </div>
				</div>
				<div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
					<div class="jobseekers-btns">
						<a href="" class="btn hire-btn"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;Hire</a>
						<a href="" class="btn chat-btn"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;Chat</a>
						<a href="" class="btn block-btn"><i class="fa fa-eye-slash" aria-hidden="true"></i>&nbsp;Block</a>
					</div>
				</div>
			</div>
		</div>
		
	  </mat-list-item>
	  
	  
	</mat-list>
</div>
</section>
