<!--<section class="intro bg-light-gray">
	<div class="container">
		<div class="header-top-page">
			<div class="breadcrumbs">
			  <ul class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>Find Job Seeksers</li>
			  </ul>
			</div>
			<h1 class="page-heading">Jobs near by you</h1>
		</div>
	</div>
</section>

<section class="intro">
<div class="container">

      Job name:  {{jobdetails.job_title}} <br>
   
     job Image:   {{jobdetails.image}} <br>

address:        {{jobdetails.address}} <br>
description:        {{jobdetails.description}}<br>
 start date:       {{jobdetails.start_date}}<br>
  end date:      {{jobdetails.end_date}} <br>

cost:        {{jobdetails.cost}} <br>

-->
 <!--   "category": -->
 <!-- cat name:  {{jobdetails.category.name}} <br> -->
 <!--   "user": -->
 <!--job owner name: {{jobdetails.user.first_name}} {{jobdetails.user.last_name}} <br>
 owner image :{{jobdetails.user.profile_picture}} <br>
    
</div>
</section> -->
<section class="intro bg-light-gray">
	<div class="container">
		<div class="header-top-page">
			<div class="breadcrumbs">
			  <ul class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li><a href="jobs.html">Jobs</a></li>
				<li>{{jobdetails.job_title}}</li>
			  </ul>
			</div>
			<h1 class="page-heading">{{jobdetails.job_title}}<br> <small>{{jobcat.name}}</small></h1>
		</div>
	</div>
</section>

<section class="intro">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="job-info">
					<div class="job-image">						
						<img src="{{jobowner.profile_picture}}" alt="">
					</div>
					<div class="content">
						<h4>{{jobowner.first_name}} {{jobowner.last_name}}</h4>
						<!-- <span>{{jobcat.name}}</span> -->
					</div>
					<div class="clearfix"></div>			
				</div>
				<div class="view-job-desc">
					<img src="{{jobdetails.image}}" align="left" style="padding:0px 20px 20px 0px;max-width:350px;"> {{jobdetails.description}}
				</div>
			</div>
			<div class="col-sm-4">
				<div class="widget">
					<h4>Overview</h4>
					<div class="job-overview">						
						<ul>
							<li>
								<i class="fa fa-map-marker"></i>
								<div>
									<strong>Location:</strong>
									<span>{{jobdetails.address}}</span>
								</div>
							</li>	
							<li>
								<i class="fa fa-calendar"></i>
								<div>
									<strong>Job period:</strong>
									<span>{{jobdetails.start_date}} - {{jobdetails.end_date}}</span>
								</div>
							</li>
							<li>
								<i class="fa fa-clock-o"></i>
								<div>
									<strong>Hours:</strong>
									<span>40h / week</span>
								</div>
							</li>
							<li>
								<i class="fa fa-money"></i>
								<div>
									<strong>Rate:</strong>
									<span>{{jobdetails.cost}} kr/hour</span>
								</div>
							</li>
						</ul>
						<a href="#" class="btn btn-block btn-site">Apply For This Job</a>

					</div>

				</div>
			</div>
		</div>
	</div>
	
  
		<!-- <div class="job-listing">
			<div class="row">
		
		        <div class="col-md-12">Job name:   </div>
		        <div class="col-md-12">job Image:    </div>
		        
		        <div class="col-md-12">address:         </div>
		        <div class="col-md-12">description:        </div>
		        <div class="col-md-12">start date:       </div>
		        <div class="col-md-12">end date:       </div>
		
		        <div class="col-md-12">cost:         </div>
		        <div class="col-md-12">cat name:  </div>
		        
		        <div class="col-md-12">job owner name: {{jobowner.first_name}} {{jobowner.last_name}} </div>
		        <div class="col-md-12">owner image :{{jobowner.profile_picture}} </div>
		
			</div>
		</div> -->
		

</section>
