<!-- <button (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button> -->
 
<app-menu [@slideInOut]="menuState"></app-menu>
<!-- main app container -->

            <alert></alert>
            <router-outlet></router-outlet>
			<app-footer style="bottom:0;position:absolute;"></app-footer>
<!-- credits -->
