<section class="intro bg-light-gray">
	<div class="container">
		<div class="header-top-page">
			<div class="breadcrumbs">
			  <ul class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>All Jobs</li>
			  </ul>
			</div>
			<h1 class="page-heading">All Jobs</h1>
		</div>
	</div>
</section>
<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">    
			<div class="col-xs-8 col-xs-offset-2">
				<div class="input-group">					     
					<input type="text" class="form-control" name="x" placeholder="Search here...">
					<div class="select-panel">
						<select>
							<option value="0" selected>All Categories</option>
							<option value="1">Fish</option>
							<option value="2">Reptile</option>
							<option value="3">Bird</option>
							<option value="4">cat</option>
							<option value="3">Horse</option>
							<option value="4">Dog</option>
						</select>
					</div>  
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /search area -->
<div class="map-home">
	<img src="assets/images/map-img.jpg" style="width:100%;max-height:100%;">
</div>
<section class="intro">
<div class="container">
  
    <!-- <h3>{{currentUser.data.first_name}} {{currentUser.data.last_name}}!</h3>
    <h3>All Jobs :</h3> -->
    <!--ul>
        <li *ngFor="let user of users">
            {{user.id}} ({{user.id}} {{user.id}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
	</ul-->
	<mat-list class="home-job-listing">
	  <mat-list-item *ngFor="let user of joblistings">
		<div class="job-listing  ">
			<div class="row">
				<div class="col-sm-12 col-md-5">
					<div class="row">
						<div class="col-xs-3">
							<div class="avatar-img">
								<img matListAvatar src="{{user.image}}" alt="{{user.job_title}}" class="img-responsive">
							</div>
						</div>
						<div class="col-xs-9">
							<h4 class="job-title"><!--['/viewjob',user.id,user.user.id] {job_id:user.id,user_id:user.user.id}-->
								<a [routerLink]="['/viewjob',user.id,user.user.id]">{{user.job_title}} <span> ({{user.category.name}})</span></a>
							</h4>
							<p class="job-desc">Description</p>
						</div>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0 cat-item">
					<i class="fa fa-map-marker"></i> Location 
				</div>
				<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3 cat-item" >
					<p><i aria-hidden="true" class="fa fa-calendar"></i> &nbsp; {{user.start_date}} to {{user.end_date}}</p>
				</div>
				<div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
					<div class="jobseekers-btns">
						<button class="btn btn-site" (click)="applyforjob(user.id)">Apply</button>					
						<button class="btn block-btn" (click)="clicked()">
							<i aria-hidden="true" class="fa fa-eye-slash"></i>
							Block
						</button>
					</div>					
				</div>
			</div>
		</div>
		</mat-list-item>
	  
	</mat-list>
</div>
</section>

