<style>
.form-group label span{color: #999;font-size: 11px;}
</style>

<section class="intro bg-light-gray">
	<div class="container">
		<div class="header-top-page">
			<div class="breadcrumbs">
			  <ul class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>Create Job</li>
			  </ul>
			</div>
			<h1 class="page-heading">Create Job</h1>
		</div>
	</div>
</section>
<style>

</style>
<section>
	<div class="container">
		<div class="col-md-8 col-md-offset-2 form-create">
		<div *ngIf="reponse_message" class="alert alert-danger">{{reponse_message}}</div>
		<form name="form" (ngSubmit)="f.form.valid && createjob()" #f="ngForm" novalidate class="form-create-job">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !job_title.valid }">
						<label for="job_title">Job Title</label>
						<input type="hidden" class="form-control" name="user_id" value="189" [(ngModel)]="model.user_id" #user_id="ngModel"/>
						<input type="text" class="form-control" name="job_title" required [(ngModel)]="model.job_title" #job_title="ngModel"/>
						<div *ngIf="f.submitted && !job_title.valid" class="help-block" >Job Title is required</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !start_date.valid }">
						<label for="start_date">Start Date <span>(DD/MM/YYYY)</span></label>
						<!--material-datepicker dateFormat="YYYY-MM-DD" class="datepicker-form-control" name="start_date" required [(ngModel)]="model.start_date" #start_date="ngModel" ngDefaultControl></material-datepicker-->
						
						<mat-form-field>
						<input matInput [matDatepicker]="picker" name="start_date" dateFormat="YYYY-MM-DD" required [(ngModel)]="model.start_date" #start_date="ngModel" class="form-control" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					  </mat-form-field>
					  <div *ngIf="f.submitted && !start_date.valid" class="help-block">Start Date is required</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !end_date.valid }">
						<label for="end_date">End Date <span>(DD/MM/YYYY)</span></label>
						<mat-form-field>
							<input matInput [matDatepicker]="end_date" name="end_date" required [(ngModel)]="model.end_date" #end_date="ngModel" class="form-control" placeholder="Choose a date">
							<mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
							<mat-datepicker #end_date></mat-datepicker>
						  </mat-form-field>
						<!--material-datepicker class="datepicker-form-control" name="end_date" required [(ngModel)]="model.end_date" #end_date="ngModel" ngDefaultControl></material-datepicker -->
						<div *ngIf="f.submitted && !end_date.valid" class="help-block">End Date is required</div>
					</div>
						  
				</div>
				<div class="col-sm-6">
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !start_time.valid }">
						<label for="start_time">Start Time <span>(HH:MM:SS)</span></label>
						<input type="text" class="form-control" name="start_time" required [(ngModel)]="model.start_time" #start_time="ngModel"/>
						<div *ngIf="f.submitted && !start_time.valid" class="help-block">Start Time is required</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !end_time.valid }">
						<label for="end_time">End Time <span>(HH:MM:SS)</span></label>
						<input type="text" class="form-control" name="end_time" required [(ngModel)]="model.end_time" #end_time="ngModel"/>
						<div *ngIf="f.submitted && !end_time.valid" class="help-block">End Time is required</div>
					</div>
				</div>
				<div class="col-sm-6">
					{{category | json}}
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !job_categories.valid }">
						<label for="job_categories">Job Categories</label>
						<!--input type="text" class="form-control" name="job_categories" required [(ngModel)]="model.job_categories" #job_categories="ngModel" /-->
						<select class="form-control" name="cat_id" required [(ngModel)]="model.cat_id" #cat_id="ngModel">
							  <option [ngValue]="category.id" *ngFor="let category of categoryList">{{category.name}}</option>
						</select>
						<div *ngIf="f.submitted && !job_categories.valid" class="help-block">Job Categories is required</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !area.valid }">
						<label for="area">Area</label>
						<input type="text" class="form-control" name="area" required [(ngModel)]="model.area" #area="ngModel"/>
						<div *ngIf="f.submitted && !area.valid" class="help-block">Area is required</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
						<label for="description">Description</label>
						<textarea class="form-control" name="description" required style="height:auto;" [(ngModel)]="model.description" #description="ngModel"> </textarea>
						<div *ngIf="f.submitted && !description.valid" class="help-block">Description is required</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !billing_type.valid }">
						<label for="billing_type">Billing Type</label>
						<!--input type="text" class="form-control" name="billing_type" required [(ngModel)]="model.billing_type" #billing_type="ngModel" /-->
						<select class="form-control" name="billing_type" [(ngModel)]="model.billing_type" #billing_type="ngModel" required>
							<option value="hourly">Hourly</option>
							<option value="fixed">Fixed</option>
						</select>
						<div *ngIf="f.submitted && !billing_type.valid" class="help-block">Billing Type is required</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !price.valid }">
						<label for="price">Price (in Kr)</label>
						<input type="text" class="form-control" name="price" value="" required [(ngModel)]="model.price" #price="ngModel" />
						<div *ngIf="f.submitted && !price.valid" class="help-block">Price is required</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !image.valid }">
						<label for="image">Upload Image</label>
						<input type="file" class="" name="image" [(ngModel)]="model.image" #image="ngModel" />
						<div *ngIf="f.submitted && !image.valid" class="help-block">Upload Image is required</div>
					</div>
				</div>
			</div>
			<br><br>
			<div class="form-group">
				<button [disabled]="loading" class="btn btn-primary btn-lg">Create Job</button>
				<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			</div>
			<br><br>
		</form>
	</div>
</div>
</section>
<div *ngIf="load_spiner" class="mycustom_spinner">
		<div class="spinner">
				<div class="cube1"></div>
				<div class="cube2"></div>
		</div>
	</div>
