<section class="intro bg-light-gray">
	<div class="container">
		<div class="header-top-page">
			<div class="breadcrumbs">
			  <ul class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>My Profile</li>
			  </ul>
			</div>
			<h1 class="page-heading">My Profile</h1>
		</div>
	</div>
</section>

<section class="intro" style="padding-top:0px;">
<div class="container">
<mat-tab-group class="demo-tab-group">
  <mat-tab label="Edit Profile">
    <div class="demo-tab-content">
		<div class="title-sub-page"><h2>Profile</h2></div>
		<div class="account-container">
			<div  class="user-img-container">
				<div  class="user-avatar">
					<img  class="img-responsive" src="{{userDetails.profile_picture}}">
				</div>

				<input type="file">
			</div>
				<div  class="row">
					<div  class="col-sm-6">
						<div  class="form-group">
							<label >First Name <em >*</em></label>
							<input  class="form-control" name="first_name" [(ngModel)]="model.first_name" #first_name="ngModel" type="text">
						</div>
					</div>
					<div  class="col-sm-6">
						<div  class="form-group">
							<label >Last Name <em >*</em></label>
							<input  class="form-control" name="last_name" [(ngModel)]="model.last_name" #last_name="ngModel" type="text">
						</div>
					</div>
				</div>
				<div  class="row">
					<div  class="col-sm-6">
						<div  class="form-group">
							<label >Email </label>
							<input  class="form-control" disabled name="email" value="{{userDetails.email}}" [(ngModel)]="model.email" #email="ngModel" type="text">
						</div>
						
					</div>
					<div  class="col-sm-6">
						<div  class="form-group">
							<label >Contact </label>
							<input  class="form-control"  name="phone" [(ngModel)]="model.phone" #phone="ngModel" type="text">
						</div>
					</div>
				</div>
				
				<div  class="row">
					<div  class="col-sm-6">
						<div  class="form-group">
							<label >Gender <em >*</em></label>
							<select  class="form-control" name="gender" [(ngModel)]="model.gender" #gender="ngModel">
								<option >Male</option>
								<option >Female</option>
								<option >Other</option>
							</select>
						</div>
					</div>
					<div  class="col-sm-6">
						<div  class="form-group">
							<label >Age</label>
							<input  class="form-control" name="age" [(ngModel)]="model.age" #age="ngModel" type="text">
						</div>
					</div>
				</div>
				<div  class="row">
					<div  class="col-sm-12">
						<div  class="form-group">
							<label >Address </label>
							<textarea  class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel"></textarea>
						</div>
					</div>
				</div>
				<div  class="row">
					<div  class="col-sm-12">
						<div  class="form-group">
							<label >About </label>
							<textarea  class="form-control" name="about" [(ngModel)]="model.about" #about="ngModel"></textarea>
						</div>
					</div>
				</div>
				<div  class="row">
					<div  class="col-sm-6">
						<div  class="form-group">
							<label >Price <em >*</em> </label>
							<input  class="form-control" name="price" [(ngModel)]="model.price" #price="ngModel" type="text">
						</div>
					</div>
				</div>
				<div class="row">
						<div class="col-sm-12">
								<label >Profile Role </label>
								<label  class="radio-inline">
										<input type="radio" value="0" name="user_job_role" [(ngModel)]="model.user_job_role" #user_job_role="ngModel" /> Jobseeker
									</label>
								<label  class="radio-inline">
									<input type="radio" value="1" name="user_job_role" [(ngModel)]="model.user_job_role" #user_job_role="ngModel" /> Job Owner
								</label>
								<label  class="radio-inline">
									<input type="radio" value="2" name="user_job_role" [(ngModel)]="model.user_job_role" #user_job_role="ngModel" /> Both
								</label> 
							</div>
				</div>
				<div  class="row">
					<div  class="col-sm-12">
						<div  class="form-group">
							<label  style="display:inline-block;margin-right:20px;width:auto;">Profile Status<em >*</em> </label>
							<label  class="radio-inline">
								<input  name="profile_status" value="0" [(ngModel)]="model.profile_status" #profile_status="ngModel" type="radio"> Public
							</label>
							<label  class="radio-inline">
								<input  name="profile_status" value="1" [(ngModel)]="model.profile_status" #profile_status="ngModel" type="radio"> Private
							</label>
						</div>
					</div>
				</div>		
				<div class="form-group">
					<a href="#" routerLink="/edituser" class="btn btn-primary btn-lg">Edit Profile</a>
				</div>
		
			<!-- /form -->
		</div>
    </div>
  </mat-tab>

  <!-- end profile area -->

  <!-- job history start -->

  <mat-tab label="Job History">
     <div class="demo-tab-content">

		<div class="title-sub-page"><h2>Job History</h2></div>

		<div class="account-container">
			<!-- tabs start here -->
			<div class="row">
				<div class="col-xs-12">
					<!-- tabs -->
					<div class="tabbable tabs-left job-history">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#applied" (click)="appliedjob()" data-toggle="tab">Applied</a></li>
							<li><a href="#hired" data-toggle="tab">Hired</a></li>
							<li><a href="#completed" data-toggle="tab">Completed</a></li>
							<li><a href="#archived" data-toggle="tab" (click)="show_my_archived()">Archived</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="applied">                
								<div class="">
									<h2>Applied</h2>
									 <div class="content-job-history">
										  <mat-list>
												<mat-list-item *ngFor="let applyedjob of myapplyedjobdata">
														<div class="job-listing">
																<div class="row">
																	<div class="col-sm-12 col-md-5">
																		<div class="row">
																			<div class="col-xs-3">
																				<div class="avatar-img">
																					<img matListAvatar src="{{applyedjob.jobs.image}}" class="img-responsive">
																				</div>
																			</div>
																			<div class="col-xs-9">
																				<h4 class="job-title">
																					<a href="">{{applyedjob.jobs.job_title}}</a>
																				</h4>
																				<p class="job-desc">{{applyedjob.jobs.description}}</p>
																			</div>
																		</div>
																	</div>
																	<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0 cat-item">
																		<i class="fa fa-map-marker"></i>
																		{{applyedjob.jobs.address}} 
																	</div>
																	<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-2" >
																		<div class="price">
																			<div class="price-container">
																			  <h4><span class="currency">Kr</span>{{applyedjob.jobs.cost}}</h4>
																			  <span class="period">/{{applyedjob.jobs.job_type=='hourly'?'hr':'fixed'}}</span>
																			</div>
																		 </div>
																	</div>
																	<div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
																		<div class="jobseekers-btns">
																			<button class="btn btn-archive" (click)="archiveapplied(applyedjob.jobs.id)"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Archive</button>
																			<button class="btn block-btn"  (click)="removeapplied(applyedjob.jobs.id)"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Remove</button>
																		</div>
																	</div>
																</div>
															</div>
												</mat-list-item>
										</mat-list>
									 </div>
								</div>
							</div> 
							<div class="tab-pane" id="hired"> 
								<div class="">
									<h2>Hired</h2>
									 <div class="content-job-history">
										<mat-list class="home-job-listing">
										  <mat-list-item >
											<div class="job-listing">
												<div class="row">
													<div class="col-sm-12 col-md-5">
														<div class="row">
															<div class="col-xs-3">
																<div class="avatar-img">
																	<img matListAvatar src="https://hdwallpapersbuzz.com/wp-content/uploads/2017/04/awesome-dp-for-whatsapp-in-hd-1.jpg" class="img-responsive">
																</div>
															</div>
															<div class="col-xs-9">
																<h4 class="job-title">
																	<a href="">Heather hennessy</a>
																</h4>
																<p class="job-desc">About me here...</p>
															</div>
														</div>
													</div>
													<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0 cat-item">
														<i class="fa fa-map-marker"></i> Location 
													</div>
													<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-2" >
														<div class="price">
															<div class="price-container">
															  <h4><span class="currency">Kr</span> 457</h4>
															  <span class="period">/ hr</span>
															</div>
														 </div>
													</div>	
												</div>
											</div>
											
										  </mat-list-item>
										  
										  
										</mat-list>
									 </div>
								</div>
							</div>
						
							<div class="tab-pane" id="completed"> 
								<div class="">
									<h2>Completed</h2>
									 <div class="content-job-history">
										<mat-list class="home-job-listing">
										  <mat-list-item >
											<div class="job-listing">
												<div class="row">
													<div class="col-sm-12 col-md-5">
														<div class="row">
															<div class="col-xs-3">
																<div class="avatar-img">
																	<img matListAvatar src="https://hdwallpapersbuzz.com/wp-content/uploads/2017/04/awesome-dp-for-whatsapp-in-hd-1.jpg" class="img-responsive">
																</div>
															</div>
															<div class="col-xs-9">
																<h4 class="job-title">
																	<a href="">Heather hennessy</a>
																</h4>
																<p class="job-desc">About me here...</p>
															</div>
														</div>
													</div>
													<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0 cat-item">
														<i class="fa fa-map-marker"></i> Location 
													</div>
													<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-2" >
														<div class="price">
															<div class="price-container">
															  <h4><span class="currency">Kr</span> 457</h4>
															  <span class="period">/ hr</span>
															</div>
														 </div>
													</div>	
													<div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
														<div class="jobseekers-btns">
															<a href="" class="btn btn-un-archive"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Un-Archive</a>
														</div>
													</div>
												</div>
											</div>
											
										  </mat-list-item>
										  
										  
										</mat-list>
									 </div>
								</div>
							</div>
						
							<div class="tab-pane" id="archived"> 
								 <div class="">
									<h2>Archived *developer note: custom user is and type is used for listing, update require </h2>
									 <div class="content-job-history">
										<mat-list class="home-job-listing">
										  <mat-list-item *ngFor="let archivedjob of myarchivedjobdata" >
											<div class="job-listing">
												<div class="row">
													<div class="col-sm-12 col-md-5">
														<div class="row">
															<div class="col-xs-3">
																<div class="avatar-img">
																	<img matListAvatar src="{{archivedjob.job.image}}" class="img-responsive">
																</div>
															</div>
															<div class="col-xs-9">
																<h4 class="job-title">
																	<a href="">{{archivedjob.job.job_title}}</a>
																</h4>
																<p class="job-desc">About me here...</p>
															</div>
														</div>
													</div>
													<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0 cat-item">
														<i class="fa fa-map-marker"></i> Location 
													</div>
													<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-2" >
														<div class="price">
															<div class="price-container">
															  <h4><span class="currency">Kr</span> 457</h4>
															  <span class="period">/ hr</span>
															</div>
														 </div>
													</div>	
													<div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
														<div class="jobseekers-btns">
															<a href="" class="btn btn-archive"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Archive</a>
														</div>
													</div>
												</div>
											</div>
											
										  </mat-list-item>
										  
										  
										</mat-list>
									 </div>
								</div>
							</div>
						</div>
					</div>
					<!-- /tabs -->
				</div>
			</div>
			<!-- /tabs end here -->
		</div>
	</div>
  </mat-tab>
  <!-- /job history start -->


  <mat-tab label="Transaction History">
   <div class="demo-tab-content">  
     {{mytransactionhistorydata | json}}
    </div>  
  </mat-tab>

</mat-tab-group>





				
</div>
</section>
<div *ngIf="load_spiner" class="mycustom_spinner">
	<div class="spinner">
			<div class="cube1"></div>
			<div class="cube2"></div>
	</div>
</div>