.demo-tab-content {
  padding: 16px;
 /*  border:2px solid rgba(27,165,202,0.6);
  position:relative; */
}
.mat-tab-label {
  min-width: 1px !important;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
