/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/Montserrat-Bold.ttf");
}
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body, html{overflow: auto;}
label em{color:red;}
.form-group label span{color: #999;font-size: 11px;}
.navbar-brand{
	padding:20px 10px;
	background:#19a5c8;
	margin-bottom:20px;
	display: block;
	height: auto;
	overflow: hidden;
	width:100%;text-align:center;
	border-bottom: 1px solid #37bce1;
	box-shadow: inset 0px 0px 15px #fff;
}
.side-bar{
	display: block;
	position: absolute;
	background:#19a5c8;
	top: 0;
	bottom: 0;
	z-index: 3;
	min-width: 300px;
	outline: 0;
	box-sizing: border-box;
	height: 100%;
	overflow-y: auto;
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
	transform: translate3d(0px, 0px, 0px);
	visibility: visible;
}
.side-bar .navbar-collapse{clear:both;}
.side-bar .navbar-nav {list-style:none;margin:0px;padding:0px;float:none;}
.side-bar .navbar-nav > li{float:none;padding:0px;}
.side-bar .navbar-nav > li a{padding:10px;display:block;display: block;color:#fff;border-bottom:1px solid #f3f3f3;}
.side-bar .navbar-nav > li:hover a{text-decoration: none;}


/* .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
} */
section{padding:50px 0px;}
section.intro {
    padding: 50px 0 25px;
    text-align: left;
}
app-footer{position:inherit !important;}
.map-home{
	height:350px;
	width:100%;
}
.title-page{
	/* background:#19a5c8; */
	color:#555;
	padding-bottom:15px;
	text-align:center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.title-page h2{margin:0px;padding:0px;font-size:34px;}
.title-page::after {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin: 20px auto 20px;
    background: #19a5c8;
}
/* .home-job-listing mat-list-item{
	width: 33.33333333%;float:left;padding:0px 15px 30px 15px;
} 
.home-job-listing mat-list-item .item-outer{padding:10px 10px 10px 80px;min-height:100px;position:relative;border:1px solid #ccc;text-align:left;border-left: solid 5px #19a5c8;}
.home-job-listing mat-list-item .item-outer h3{margin:0px;font-size:18px;font-weight:bold;}*/
.home-job-listing mat-list-item .avatar-img{height:80px;width:80px;overflow:hidden;border:1px solid #ccc;border-radius:100px;-moz-border-radius:100px;webkit-border-radius:100px;margin-top:-10px;}
.home-job-listing mat-list-item .avatar-img img{max-width:100%;object-fit: fill;}
.home-job-listing mat-list-item  .cat-item{color:#999;padding-top:5px;margin-bottom:5px;font-size:13px;}
.home-job-listing mat-list-item .date-item{color:#999;margin-bottom:0px;font-size: 11px;font-size:13px;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background:none !important;color:#000 !important;}



.job-listing.job-listing-featured {
    border-left: solid 5px #19a5c8;
    padding-left: 15px;
}
.job-listing {
    border: solid 1px #eee;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 15px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
	text-align:left;
}
.job-listing h4{margin-top:0px;font-weight: 700;}
.job-listing h4 a span{color:#999;font-size:13px;padding-left: 10px;} 
.job-listing:before,.job-listing:after {
 content:" ";
 display:table
}
.job-listing:after {
 clear:both
}
.home-job-listing mat-list-item:last-child .job-listing {
 border-bottom:solid 1px #eee;
 margin-bottom:40px
}
.job-listing:hover {
 background:#fafafa;
}
.apply-btn{text-align:center;}
.price {
    line-height: normal;
    margin-top: -10px;
    color: #ff2826;
    font-weight: 400;
}
.price h4 {
    display: inline;
    font-size: 50px;
    line-height: normal;
    margin-bottom: 0;
}
.price h4 .currency{font-size:20px;}
.price .period {
    line-height: normal;
    color: #ff2826;
}
.btn{border-radius:0px !important;}
.btn-site{background:#19a5c8 !important;color:#fff;}
.bg-light-gray {
    background: #fafafa;
}
.header-top-page{margin:50px 100px;text-align: center;}
.header-top-page .breadcrumb{background:none;}
.page-heading {
    text-align: center;
    margin-bottom: 40px;
	font-family: "Montserrat",Helvetica,Arial,sans-serif;
	font-weight: 700;
	color: #555;
	text-transform: uppercase;
	letter-spacing: .1em;
}
.page-heading::after {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin: 20px auto 20px;
    background: #ff7473;
}
.page-heading span{color:#ff7473;font-size:18px;}
.form-create{text-align:left;}
.form-create .form-group{margin-bottom:20px;}
.form-create .form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.55;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-create label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}
.form-create .btn{border:2px solid #19a5c8;background:none;color:#19a5c8;padding:12px 70px;}
.form-create .btn:hover, .form-create .btn:focus{background:#19a5c8;color:#fff !important;}
.jobseekers-btns {
	position: relative;
	top: -14px;
}
.jobseekers-btns .btn{
	font-size:12px;
	color:#fff;
	padding:5px 10px;
	border-radius:0px;
	display:block;
	margin-bottom:5px;
}
.jobseekers-btns .btn:hover{opacity: 0.9;box-shadow: 0px 0px 5px #ccc;}
.jobseekers-btns .btn:last-child{margin-bottom:0px;}
.jobseekers-btns .btn.hire-btn{
	background: #33cd5d;
	border:1px solid #33cd5d;	
}
.jobseekers-btns .btn.chat-btn{
	background: #fec900;
	border:1px solid #fec900;
}
.jobseekers-btns .btn.block-btn{
	background: #ef473e;
	border:1px solid #ef473e;
}
/* search style */
.search-area{
	background: #1ba5ca;
	padding:20px 0px;
	overflow:hidden;
	width:100%;
	height: 82px;
}
.search-area .input-group{
	padding-right: 183px;
	width:100%;
	position:absolute;
}
.search-area .input-group input{
	padding:10px;
	border-radius:0px;
	height:42px;
	line-height:42px;
}
.search-area .input-group .select-panel{position:absolute;right:50px;}
.search-area .input-group .select-panel select{padding:10px;height: 42px;line-height: 40px !important;}
.search-area .input-group .input-group-btn{position:absolute;right:0px;width:50px;}
.search-area .input-group .input-group-btn .btn{
	width: 50px;
	height:42px;
	padding:5px 10px;
	font-size:20px;
	background: #f47107;
	border:1px solid #f47107;
	color:#fff;
}
/* Chat */
 #custom-search-input {
  background: #1ba5ca none repeat scroll 0 0;
  margin: 0;
  padding: 10px;
}
#custom-search-input .search-query {
	background: #fff none repeat scroll 0 0 !important;
	border-radius: 4px;
	height: 33px;
	margin-bottom: 0;
	padding-left: 7px;
	padding-right: 7px;
}
#custom-search-input button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	border-radius: 3px;
	color: #666666;
	left: auto;
	margin-bottom: 0;
	margin-top: 7px;
	padding: 2px 5px;
	position: absolute;
	right: 0;
	z-index: 9999;
}
.search-query:focus + button {
	z-index: 3;   
}
.all_conversation button {
	background: #f5f3f3 none repeat scroll 0 0;
	border: 1px solid #dddddd;
	height: 38px;
	text-align: left;
	width: 100%;
}
.all_conversation i {
	background: #e9e7e8 none repeat scroll 0 0;
	border-radius: 100px;
	color: #636363;
	font-size: 17px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}
.all_conversation .caret {
	bottom: 0;
	margin: auto;
	position: absolute;
	right: 15px;
	top: 0;
}
.all_conversation .dropdown-menu {
	background: #f5f3f3 none repeat scroll 0 0;
	border-radius: 0;
	margin-top: 0;
	padding: 0;
	width: 100%;
}
.all_conversation ul li {
	border-bottom: 1px solid #dddddd;
	line-height: normal;
	width: 100%;
}
.all_conversation ul li a:hover {
	background: #dddddd none repeat scroll 0 0;
	color:#333;
}
.all_conversation ul li a {
	color: #333;
	line-height: 30px;
	padding: 3px 20px;
}
.member_list .chat-body {
	margin-left: 47px;
	margin-top: 0;
}
.top_nav {
	overflow: visible;
}
.member_list .contact_sec {
	margin-top: 3px;
}
.member_list .contact_sec strong.primary-font{
	font-weight:normal;color:#a2a2a2;font-size:12px;
}

.member_list li {
	padding: 6px;
}
.member_list ul {
	border: 1px solid #dddddd;
}
.chat-img img {
	height: 34px;
	width: 34px;
}
.member_list li {
	border-bottom: 1px solid #dddddd;
	padding: 6px;
}
.member_list li:last-child {
	border-bottom:none;
}
.member_list {
	height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}
.sub_menu_ {
  background: #e8e6e7 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
}
.sub_menu_ {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
  display: block;
}
.new_message_head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.new_message_head {
  background: #1ba5ca none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 18px 10px;
  width: 100%;
}
.new_message_head h5{font-weight:bold;margin:0px;color:#fff;}
.message_section {
  border: 1px solid #dddddd;
}
.chat_area {
  float: left;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat_area li {
  padding: 25px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 60px;
  width: 60px;
}
.chat_area .chat-body1 {
  margin-left: 50px;
  position:relative;
	
}
.chat-body1 .message-box {
	background: #ffe6cb none repeat scroll 0 0;
	display: inline-block;
	padding: 20px;
	border-radius: 6px;
	width: calc(100% - 30px);
	min-width: 100px;
	position: relative;
	float:right;
	margin-left: 20px;
}
.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}
.chat_area .admin_chat .message-box {
  background: #1ba5ca none repeat scroll 0 0;
  color:#fff;
  float:left;
  margin-right: 20px;
  margin-left: 0px;
 }
.chat_area .chat-body1 .message-box::after, .chat_area .chat-body1 .message-box::before{
 top: 8px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  right: 100%;
  border-right-color: #ffe6cb;
 }
.chat_area .chat-body1 .message-box::after {
  border-width: 13px;
	margin-top: 0px;
}
.chat_area .chat-body1 .message-box::before {
  border-width: 15px;
	margin-top: -2px
}
.chat_area .admin_chat .chat-body1  .message-box::after, .chat_area .admin_chat .chat-body1  .message-box::before {
    left: 100%;
    border-left-color: #1ba5ca;
	right:0px;
	border-right: 0px none;
}
.chat_area li:last-child {
  padding-bottom: 10px;
}
.chat_area .chat_time  {color:#a2a2a2;font-size:12px;position:absolute;top:-17px;right:0px;}
.chat_area .admin_chat .chat_time  {left:0px;}
.message_write {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  width: 100%;
}

.message_write textarea.form-control {
  height: 70px;
  padding: 10px;
}
.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.upload_btn {
  color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width:100%;
}
.member_list li:hover {
  background: #428bca none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}
/* job view */
.job-info {
    border-bottom: 1px solid #ccc;
    padding-bottom: 33px;
    margin-bottom: 35px;
}
.job-info .job-image {
    float: left;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-right: 30px;
	border:1px solid #fefefe;
	border-radius:5px;
	 -webkit-border-radius:5px;
	 -moz-border-radius:5px;
	 overflow:hidden;
}
.job-info .job-image img{max-width:100%;}
.job-info .content {
    display: block;
    float: left;
    margin: 23px 0 0 0px;
}
.job-info h4 {
    font-size: 20px;
    line-height: 30px;
}
.job-info span {
    margin-right: 10px;color: #666;
}
.widget {
    margin-bottom: 42px;
}
.widget h4 {
    font-size: 20px;
    margin-bottom: 15px;
	margin-top:0px;
}
.job-overview {
    background-color: #fdfdfd;
    border: 1px solid #e2e2e2;
    padding: 35px 38px 31px 38px;
	border-radius:4px;
	 -webkit-border-radius:4px;
	 -moz-border-radius:4px;
}
.job-overview ul{
	list-style: none outside;
	margin:0px;
	padding:0px;
}
.job-overview ul li:first-child {
    margin-top: 5px;
}
.job-overview ul li {
    margin: 0 0 3px 0;
}
.job-overview ul li i.fa{
    font-size: 18px;
	position: relative;
	top: 5px;
	color:#1ba5ca;
}
.job-overview ul li div {
    position: relative;
    top: -18px;
    margin-left: 25px;
}
.job-overview ul li span {
    display: block;
    margin-top: 3px;
    line-height: 23px;
}

/* footer */
footer{background:#000;padding:20px 0px;color:#fff;}
footer a{color:#fff;}

.title-sub-page h2{
	text-align: left;
	margin-bottom: 40px;
	font-family: "Montserrat",Helvetica,Arial,sans-serif;
	font-weight: 700;
	color: #555;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top:40px;
}
.title-sub-page h2::after {
    content: " ";
    display: block;
    height: 2px;
    margin: 10px auto 50px;
    background: #ff7473;
}

.mat-tab-group.mat-primary .mat-tab-label:focus,.mat-tab-group.mat-primary .mat-tab-link:focus,.mat-tab-nav-bar.mat-primary .mat-tab-label:focus,.mat-tab-nav-bar.mat-primary .mat-tab-link:focus{background-color:rgba(197,202,233,.3);width:200px !important;text-align:center !important;}

.mat-tab-group.mat-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary .mat-ink-bar{background-color: rgba(27,165,202,1);width:200px !important;text-align:center !important;height:7px !important;top:0px;bottom:inherit;}

.mat-tab-group.mat-primary.mat-background-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary.mat-background-primary .mat-ink-bar{background-color:hsla(0,0%,100%,.87)}
.mat-tab-label{width:200px !important;text-align:center !important;font-size:16px;height:60px;}
.mat-ripple-element {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1);
    transform: scale(0);
}
.mat-tab-label-active{background: rgba(27,165,202,1);color:#fff;;}

/* profile */
.account-container{
	height:Auto;
	overflow:hidden;
	width:100%;
	padding:10px;
    display: table;
    height: 100%;
    color: #333;

}
.account-container .profile-img-area{padding:10px 10px 10px 150px;min-height:170px;position:relative;}
.account-container .profile-img-area .profile-img{height:140px;width:140px;overflow:hidden;border:1px solid #fff;background:#fff;}
.profile-details label {
	font-weight: 400;
	color: #000;
	font-size: 14px;
}
.profile-details .form-control {
	width: 100%;
	display: block;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.55;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
}
.profile-details textarea.form-control{height:Auto;}
.profile-details .form-group {
    overflow: hidden;
    margin-bottom: 30px;
}

.user-img-container {
    text-align: right;
    width: 30%;
    position: relative;
	display: table-cell;
	vertical-align: top;
	padding: 15px;
}
.user-img-container .user-avatar {
    width: 180px;
    height: 180px;
    border: 5px solid #ff7473;position: relative;margin: auto;padding:2px;background:#fff;
}
.profile-details {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}
/* @media (max-width:499px){
	.profile-details label{width:100%;}
	.profile-details .form-control {width:100%;}
} */

/* job history */
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 60px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}


.job-history h2{
	margin-top:0px;
}
.job-history .tab-content{margin-left:140px;}
.job-history .tab-content .btn{width: 80px;}
.job-history .tab-content .price h4{font-size:35px;}
.job-history .tab-content .btn.btn-archive{background:#626262;}
.job-history .tab-content .btn.btn-un-archive{background:#626262;width: 95px;}
.job-history .jobseekers-btns{top:0px;}

/*spinner*/
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }

  .mycustom_spinner{
    position:fixed;
    z-index:9999;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.15);
  }