
<div class="map-home">
		<!-- this creates a google map on the page with the given lat/lng from -->
	<!-- the component as the initial center of the map: -->
	<agm-map [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">
	  <agm-marker  *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
		  [iconUrl]="m.image"
		  
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)"> <agm-info-window>
          <strong>{{m.label}}</strong>
        </agm-info-window></agm-marker>
</agm-map>
 <!--<sebm-google-map 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">
    
      <sebm-google-map-marker 
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label",
		   [iconUrl]="'http://example.com/icon.png'"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">
          
        <sebm-google-map-info-window>
          <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>
        
      </sebm-google-map-marker>
      
      <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng" 
          [radius]="5000"
          [fillColor]="'red'"
          [circleDraggable]="true"
          [editable]="true">
      </sebm-google-map-circle>

    </sebm-google-map>-->
</div>
<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">    
			<div class="col-xs-8 col-xs-offset-2">
				<div class="input-group">					     
					<input type="text" class="form-control" name="x" placeholder="Search here...">
					<div class="select-panel">
						<select>
							<option value="0" selected>All Categories</option>
							<option value="1">Fish</option>
							<option value="2">Reptile</option>
							<option value="3">Bird</option>
							<option value="4">cat</option>
							<option value="3">Horse</option>
							<option value="4">Dog</option>
						</select>
					</div>  
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /search area -->
<section class="intro">
<div class="container">
  <div class="title-page"><h2>Jobs near by you</h2></div>
    <!-- <h3>{{currentUser.data.first_name}} {{currentUser.data.last_name}}!</h3>
    <h3>All Jobs :</h3> -->
    <!--ul>
        <li *ngFor="let user of users">
            {{user.id}} ({{user.id}} {{user.id}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul-->


	<mat-list class="home-job-listing">
	  <mat-list-item *ngFor="let job of jobs">
		<div class="job-listing  ">
			<div class="row">
				<div class="col-sm-12 col-md-5">
					<div class="row">
						<div class="col-xs-3">
							<div class="avatar-img">
								<img matListAvatar src="{{job.image}}" alt="{{job.job_title}}" class="img-responsive">
							</div>
						</div>
						<div class="col-xs-9">
							<h4 class="job-title">
								<!--a href="">{{job.job_title}} <span> ({{job.category.name}})</span></a--->
								<a [routerLink]="['/viewjob',job.id,job.user.id]">{{job.job_title}} <span> ({{job.category.name}})</span></a>
							</h4>
							<p class="job-desc">Description</p>
						</div>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0 cat-item">
					<i class="fa fa-map-marker"></i> {{job.address}} 
				</div>
				<div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3 cat-item" >
					<p><i aria-hidden="true" class="fa fa-calendar"></i> &nbsp; {{job.start_date}} to {{job.end_date}}</p>
				</div>
				<div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
					<div class="apply-btn">
						<a href="" class="btn btn-site">Apply</a>
					</div>
				</div>
			</div>
		</div>
		</mat-list-item>
	  
	</mat-list>
</div>
</section>
